*~
bin
balance.jar
doc/latex/paper.aux
doc/latex/paper.bbl
doc/latex/paper.blg
doc/latex/paper.log
doc/latex/paper.pdf
doc/latex/paper.out
doc/pbml
doc/latex/auto
doc/latex/missfont.log
doc/pbml-4_0-flat.zip
java/test-output
